.Favorites .content {
  display: grid;
  text-align: center;
  grid-auto-rows: 300px;
  /* grid-template-columns: repeat(5,1fr); */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-template-columns: repeat(auto-fit, 250px);

  background: #333;
  color: white;
  grid-gap: 1rem;

  /* padding: 20px; */
  justify-content: space-evenly;
}

.Favorites .box {
  padding: 15px;
  background: black;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}
.Favorites .box:hover {
  background: rgba(0, 0, 0, 0.5);
}

.Favorites .container {
  width: 80%;
  margin: auto;
  padding: 50px;
  background: rgb(211, 207, 207);
  border-radius: 10px;
}
