.Home {
  /* display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: space-evenly; */
  /* align-items: center; */
}
.Home .search-bar {
  text-align: center;
  /* background-color: red; */
  margin-top: 50px;
  /* width: 500px; */
  margin-bottom: 20px;
}
.Home .container h1 {
  text-align: center;
  padding: 50px 20px;
  font-size: 4rem;
}

.Home .content {
  display: grid;
  text-align: center;
  grid-auto-rows: 200px;
  /* grid-template-columns: repeat(5,1fr); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  /* background: #333; */

  grid-gap: 1rem;

  /* padding: 20px; */
  justify-content: space-evenly;
}

.Home .box {
  padding: 5px;
  background: var(--card-background-color);
  border-radius: 10px;
  position: relative;
}

.Home .container {
  max-width: 1200px;
  margin: auto;
  padding: 50px;
  background: var(--container-background-color);
  /* background: rgb(211, 207, 207); */

  border-radius: 10px;
}
