.Home {
}
.Home .search-bar {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.Home .container h1 {
  text-align: center;
  padding: 50px 20px;
  font-size: 4rem;
}

.Home .content {
  display: grid;
  text-align: center;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  justify-content: space-evenly;
}

.Home .box {
  padding: 5px;
  background: var(--card-background-color);
  border-radius: 10px;
  position: relative;
}

.Home .container {
  max-width: 1200px;
  margin: auto;
  padding: 50px;
  background: var(--container-background-color);

  border-radius: 10px;
}
