.ContentHeaderLine {
  display: flex;
  justify-content: space-between;
}

.ContentHeaderLine .left {
  display: flex;
  align-items: center;
}

.ContentHeaderLine .right {
  display: flex;
  align-items: center;
}
