body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background-color: #fffbed;
  --border-color: #c5bb9d;
  --card-background-color: #dfd8c2;
  --container-background-color: #f8f0d8;

  --toolbar-background: #ffeaa0;
  --text-color: #917a3f;
  /* --text-color: black; */
}
.dark-mode {
  --background-color: #5c1938;
  --border-color: #250011;
  --container-background-color: rgba(0, 0, 0, 0.3);

  --card-background-color: black;
  /* --card-background-color: #e731e7; */

  --toolbar-background: #250011;
  --text-color: white;
}

a {
  text-decoration: none;
}
